/* Gắng các style cần thiết để thiết kế Navbar như yêu cầu */

.container {
  width: 100%;
  position: relative;
  background-color: transparent;
}
.navBarContainer {
  position: fixed;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  max-width: 100%;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: space-between;
  color: red;
}
.navBarContainer svg {
  cursor: pointer;
  margin: 12px 24px;
  width: 24px;
}
.navBarContainer h2 {
  font-size: 20px;
  margin: 12px 24px;
  cursor: pointer;
}
.scrolldown {
  background-color: #000;
}
